<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.web.model.MyCityMapper">

	<select id="getProvince" resultType="MyCity">
		select * from mycity where status = 0
	</select>
	
	<select id="getCity" resultType="MyCity">
		select * from mycity where status = #{status}
	</select>
</mapper>